@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body{background:#fff; color: #231F20; font-family: 'Open Sans', sans-serif}
a{color: #231F20}

/**
 * General
 */
.btn,
select,
.dropdown-menu,
input{border-radius:0!important;}

.btn-primary:hover {box-shadow: 0 0 0 0.3rem rgba(34, 125, 199, 0.5)}

.card{border-radius: 0}

main.py-4{padding-top: 3rem!important; padding-bottom: 3rem!important; max-width: 100%}

/**
 * Header
 */
/*#header{height:7rem; background-color: #424242}*/
#header{height:5rem; background-color: #424B54}
#header .navbar-brand{font-size: 2.4rem; font-weight: 300; color: #ffd783; font-family: 'Lobster', cursive;}
#header .navbar-nav .nav-link{color:#fff;}

#header #primary-menu{text-transform: uppercase}
#header #primary-menu li + li{margin-left: 1.5rem}
#header #primary-menu li > a{ font-size: 1.06666667rem;line-height: 1.06666667rem; font-weight: 700; position: relative}

    #header #primary-menu li > a::after{
        content: "";
        display: block;
        position: absolute;
        width: calc(100% - 1rem);
        height: 0.2rem;
        bottom: 0;
        left: 50%;
        background-color: #ffd783;
        transform: translateX(-50%) scale(0);
        transition: 0.2s
    }
    #header #primary-menu li > a:hover::after,
    #header #primary-menu li.active > a::after{
        transform: translateX(-50%) scale(1);
    }
    .nav-item.dropdown{white-space: nowrap}

.container.notices{margin-top: 1.5rem; margin-bottom: -1.5rem}
    .container.notices label{border: 1px solid rgba(66, 75, 84, 0.3); width: 100%; padding: 0.5rem 1rem}
    .container.notices label.label-danger{background-color: rgba(255, 0, 0, 0.1)}


/**
 * Post list
 */

.page-title{font-size: 2.1333333333333rem; font-weight: 300}
.posts-main > .post-item{
    position: relative;
    /*background-color:#f7f6f6;*/
    padding-top: 2rem;
    padding-bottom: 2rem;
    transition: 0.2s;
}
.posts-main > .post-item:hover{box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15)}
    .posts-main > .post-item .post-item-link{width:100%;height:100%;overflow:hidden}
    .posts-main > .post-item a.post-item-link h3{color: #330036}
    .posts-main > .post-item .post-item-link:hover{text-decoration:none}
    .posts-main > .post-item .post-item-link:hover{color: #000}
    .posts-main > .post-item .available-langs-link{text-transform: uppercase; font-weight: 600}
    .posts-main > .post-item + .post-item{
        margin-top:-1px;
    }
    .posts-main > .post-item + .post-item::before{
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: calc(100% - 2rem);
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(66, 75, 84, 0.3);
        transition: 0.2s
    }
    .posts-main > .post-item:hover + .post-item::before,
    .posts-main > .post-item + .post-item:hover::before{opacity: 0!important}

    .posts-main .pagination{justify-content:center;margin-top:1rem}

    .posts-main .post-item > .col-2 > .btn + .btn{margin-top:0.5rem}

    .post-item .post-item-link > table{margin-bottom: 0}

    ul.pagination > li.page-item.active > span{color: #ffd783;background-color: #424B54;}
    ul.pagination > li.page-item > a{color: #231F20; border-radius: 0!important;}
    ul.pagination > li.page-item > a:hover{background-color: #ffd783; color: #424B54}
    ul.pagination > li.page-item > a:focus{box-shadow: 0 0 0 0.2rem rgba(255, 215, 131, 0.5)}
    ul.pagination > li + li{margin-left: 0.3rem}
    ul.pagination > li > span,
    ul.pagination > li > a{border: none}
        ul.pagination > li[aria-disabled="true"] > span.page-link{display: none}

    .posts-main > .post-item .post-item-image{
        max-width: 100%
    }

/**
* Single post
*/

.slick-track{display:flex; align-items:center}


.post-slider{position: relative}
    .post-slider .slick-arrow{
        position: absolute;
        border: none;
        height: 3.3333333rem;
        width: 3.3333333rem;
        background-color: #424B54;
        color: #ffd783;
        font-size: 2.4rem;
        line-height: 3.2333333rem;
        top: 50%;
        z-index: 1;
    }
        .post-slider .slick-arrow.slick-next{right:0; transform: translateY(-50%) translateX(50%)}
        .post-slider .slick-arrow.slick-prev{left:0; transform: translateY(-50%) translateX(-50%)}
        .post-slider .slick-arrow > span{display: block; transform: scaleX(0.6)}

/**
* Forms
*/

#type_specific{display: flex; flex-wrap:wrap; margin-left: -1rem; margin-right: -1rem}
    #type_specific > label{
        flex: 1 1 25%;
        padding-left: 1rem;
        padding-right: 1rem
    }
    #type_specific > label.w-100{
        flex: 1 1 100%;
    }

    #type_specific #stations-table td{padding: 0.4rem}

.button-group .btn + .btn{margin-top: 0.5rem}

.form-control:focus{
    border-color: #424B54;
    box-shadow: 0 0 0 0.3rem rgba(66, 75, 84, 0.25);
}

.note-popover{display: none}


/**
* Sidebar
*/

#sidebar > .sidebar-inner{
    position:sticky;
    top: 0.5rem;
    background: linear-gradient(to right, rgba(66, 75, 84, 0.3), transparent);
    padding: 1px;
    padding-right: 0;
}
#sidebar > .sidebar-inner > form{
    display: block;
    padding: 1rem 0 1rem 1rem;
    background-color: #fff;
}
#sidebar > .sidebar-inner > form > label{width: 100%}

#sidebar input::placeholder{color: transparent}

/**
* Footer
*/


#footer{padding: 3rem 0; border-top:1px solid rgba(66, 75, 84, 0.3)}

#footer-logo{font-size: 1.2rem; font-weight: 300; color: #424B54; font-family: 'Lobster', cursive;}
#footer-logo:hover{text-decoration: none}

/**
* Home
*/

.element-hero{
    margin-top: -3rem;
    margin-bottom: -3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url("../images/river.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.element-hero > .container{z-index: 1}
    .element-hero::before{
        content:"";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #fff;
        opacity: 0.9
    }
.element-hero h1{font-weight: 900; font-size: 3rem}
.element-hero h4{font-weight: 400; font-size: 2rem}
.element-hero p{font-weight: 400; font-size: 1.2rem}
.element-hero * + p{margin-top: 2rem}


.element-hero .type-block{
    position: relative;
    background-position: center!important;
    background-size: cover!important;
    transition: 0.2s;
}
.element-hero .type-block:hover{transform: scale(1.1)}
.element-hero .type-block::before{
    content:"";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.6
}
.element-hero .type-block + .type-block{margin-top: 1.5rem}
.element-hero .type-block > a{
    position: relative;
    display: block;
    width: 100%;
    height: 14rem;
    z-index: 1;
}
.element-hero .type-block > a > span{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 900;
    font-size: 1.2rem;
    text-transform: uppercase;
}


/**
* Media Query
*/

@media (min-width: 1200px){
    .container {
        max-width: 1170px;
    }
}
@media (max-width: 767px){
    #header .navbar-nav .nav-link {
        color: #231F20
    }

    #header #header-items{
        position: fixed;
        width: 100%;
        background: #fff;
        top: 5rem;
        /* height: 100%; */
        z-index: 1000;
        left: 0;
        border-bottom: 1px solid #424B54;
        padding-bottom: 2rem;
        box-shadow: 0 0 2rem #424B54;
    }

    #header #header-items #mainMenu,
    #header #header-items #userMenu{
        width: 100%;
        display: flex;
        flex: 0 0 100%;
        max-width: unset;
        text-align: center;
        justify-content: center;
    }
    #header #header-items #userMenu > ul{
        margin-left: 0;
    }
    #header #header-items #userMenu > ul{
        width: 100%
    }
    #header #header-items #mainMenu #primary-menu{
        width: 100%;
    }
        #header #header-items #mainMenu #primary-menu li{
            margin-left: 0
        }
        #header #header-items #mainMenu #primary-menu a{
            display: inline-block;
            line-height: 2.4rem;
            width: 100%;
            text-align: center;
        }

    #header #primary-menu li:hover > a::after{content: none}
    #header #primary-menu li.active > a::after{content: none}
    #header #primary-menu li.active > a{text-decoration: underline;text-decoration-color: #424B54}

    #header .navbar-toggler{
        border-radius: 0;
        padding: 0.6rem 0.8rem
    }
    #header .navbar-toggler:focus,
    #header .navbar-toggler:focus-within{
        border-color: rgba(255, 215, 131, 0.5)!important;
        box-shadow: 0 0 0 0.2rem rgba(255, 215, 131, 0.25);
        outline: none!important;
    }


}
@media (max-width: 575px){
    #type_specific > label{
        flex: 0 0 100%;
        padding-left: 1rem;
        padding-right: 1rem
    }
}
